<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="border-box">
        <h1>N-I-R-A-M-I-D</h1>
    </div>

    <!-- <p>Add a user by entering the username below:</p> -->
    <form action="/add_user" method="POST">
        <input type="text" name="username" placeholder="Enter username (length: 3-20, only lowercase alphabets, numbers and '_' allowed)" required>
        <button type="submit">Add User</button>
    </form>

    <br>

    <!-- <p>Remove a user by entering the username below:</p> -->
    <form action="/remove_user" method="POST">
        <input type="text" name="username" placeholder="Enter username to remove" required>
        <button type="submit">Remove User</button>
    </form>

    <br>
  
    <!-- <p>Edit a username by entering the current and new username below:</p> -->
    <form action="/modify_user" method="POST">
        <input type="text" name="current_username" placeholder="Current username" required>
        <input type="text" name="new_username" placeholder="New username" required>
        <button type="submit">Modify Username</button>
    </form>

    <br>
   
    <!-- <p><strong>Danger Zone</strong>: Remove all users from the database!</p> -->
    <form action="{{ url_for('remove_all_users') }}" method="POST" onsubmit="return confirm('Are you sure you want to remove all users? This action cannot be undone!');">
        <button type="submit" class="danger-button">Remove All Users</button>
    </form>

    <br>

    <p>
        Enrolled Users:
        (<a href="/users" target="_blank">list view</a> /
        <a href="/users_json" target="_blank">json view</a>)
    </p>
    
    <!-- Floating Notification -->
    <div id="notification" class="notification"></div>

    <script>
        // Function to show the notification
        function showNotification(message) {
            var notification = document.getElementById('notification');
            notification.textContent = message;
            notification.classList.add('show');
            setTimeout(function() {
                notification.classList.remove('show');
            }, 2000); // Notification disappears after 2 seconds
        }

        // Check if there's a message passed in the URL query parameters
        var message = "{{ message | safe }}";
        if (message && message !== "None") {
            showNotification(message);  // Display the notification
        }
    </script>
</body>

</html>
